* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px dotted black;*/
}

body {
  font-family: 'Amatica SC', cursive;
  background-color: #f2f2f2;
}

a {
  color: rgb(255,39,52);
}

a:hover {
  color: rgb(225,117,28);
  font-weight: bold;
}

a:visited {
  color: rgb(178,27,36);
}

a:visited:hover {
  color: rgb(225,117,28);
}

header h1, h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 6em;
  line-height: 1;
}

header h2 {
  font-size: 1.5em;
  line-height: 2;
}

main {
  background: rgba(50,50,50, 1);
  color: #f2f2f2;
  overflow: hidden;
}

table {
  width: 100%;
}

th {
  font-size: 1.3em;
  width: 25%;
}

th span {
  padding: 0 1%;
}

#game-board {
  width: 200%;
  height: 28em;
  position: relative;
}

#moon {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  top: 3em;
  left: 30%;
  background-color: #f2f2f2;
  box-shadow: 0 0 6em #fff;
  position: absolute;
  top: 2em;
  left: 3%;
}

#hen-house {
  width: 8%;
  position: absolute;
  left: 20%;
  bottom: -.6em;
  display: flex;
  justify-content: center;
}

#dog-house {
  width: 4%;
  position: absolute;
  left: 50%;
  bottom: 0em;
  display: flex;
  justify-content: center;
}

#shoe {
  bottom: 15em;
  left: 300%;
  width: 3%;
  height: 7em;
  position: absolute;
  background-image: url("../img/shoe.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  animation-name: spin;
  animation-duration: 4s;
  animation-delay: ease-out;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(3600deg);}
}

#fox {
  width: 10%;
  position: absolute;
  left: 3%;
  bottom: -.8em;
}

.bush {
  width: 10%;
  height: 9em;
  position: absolute;
  bottom: -2em;
  background-image: url("../img/bush.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#grass {
  width: 300%;
  height: 4em;
  background-image: url("../img/grass.svg");
  background-position: top;
  background-size: contain;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -.2em;
}

#options-bar nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#options-bar nav ul li {
  font-size: 2.5em;
}

#options-bar nav ul li:hover {
  color: rgb(255,39,52);
  font-weight: bold;
}

article {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 3em 5%;
  font-size: 1.5em;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
