* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 1px dotted black;*/
}

body {
  font-family: 'Amatica SC', cursive;
  background-color: #f2f2f2;
}

a {
  color: rgb(255,39,52);
}

a:hover {
  color: rgb(225,117,28);
  font-weight: bold;
}

a:visited {
  color: rgb(178,27,36);
}

a:visited:hover {
  color: rgb(225,117,28);
}

header h1, h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 6em;
  line-height: 1;
}

header h2 {
  font-size: 1.5em;
  line-height: 2;
}

main {
  background: rgba(50,50,50, 1);
  color: #f2f2f2;
  overflow: hidden;
  position: relative;
}

table {
  width: 100%;
  visibility: hidden;
}

th {
  font-size: 2em;
  width: 28%;
}

th span {
  padding: 2%;
}

th:nth-of-type(2) {
  text-align: left;
  padding: 0 3%;
}

th:nth-of-type(4) {
  text-align: right;
  padding: 0 3%;
}

.thumbnail {
  width: 8%;
}

.thumbnail img {
  height: 2em;
}

#game-board {
  width: 200%;
  height: 28em;
  position: relative;
}

#moon {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  top: 3em;
  left: 30%;
  background-color: #f2f2f2;
  box-shadow: 0 0 6em #fff;
  position: absolute;
  top: 2em;
  left: 3%;
}

#hen-house {
  width: 8%;
  position: absolute;
  left: 200%;
  bottom: -.6em;
  /*display: flex;
  justify-content: center;*/
}

#sheep {
  width: 14%;
  position: absolute;
  left: 80%;
  bottom: -.2em;
  opacity: .5;
}

#laundry-line {
  width: 14%;
  position: absolute;
  left: 114%;
  bottom: -1em;
  opacity: .7;
}

#dog-house {
  width: 5%;
  position: absolute;
  left: 55%;
  bottom: 0em;
  display: flex;
  justify-content: center;
}

#shoe {
  bottom: 15em;
  width: 4%;
  position: absolute;
  display: none;
  animation-name: spin;
  animation-duration: 3s;
  animation-delay: ease-out;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(2520deg);}
}

#snooze {
  width: 10%;
  position: absolute;
  top: 1em;
  font-size: 4em;
  animation-name: zZz;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes zZz {
  from {transform: scale(0)}
  to {transform: scale(1.5);}
}

#fox {
  width: 10%;
  position: absolute;
  left: 3%;
  bottom: -.8em;
}

.bush {
  width: 10%;
  height: 9em;
  position: absolute;
  bottom: -2em;
  background-image: url("../img/bush.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#grass {
  width: 250%;
  height: 4em;
  background-image: url("../img/grass.svg");
  background-position: top;
  background-size: contain;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -.2em;
}

#message {
  width: 15%;
  position: absolute;
  top: 7.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding: .5em;
}

#gameEnd {
  height: 100%;
  font-size: 3em;
  padding: 1em;
  font-weight: bold;
  text-align: center;
  background-color: rgba(50,50,50, .8);
  color: #f2f2f2;
  text-shadow: 0.15em 0.15em 0.2em #000;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options-bar nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#options-bar nav ul li {
  font-size: 2.5em;
}

#options-bar nav ul li:hover {
  color: rgb(255,39,52);
  font-weight: bold;
}

#start {
  font-family: 'Amatica SC', cursive;
  padding: .1em;
  line-height: 1em;
  border: 0;
  background-color: rgb(255,39,52);
  color: #f2f2f2;
  box-shadow: .1em .1em .3em #808080;
  font-size: 1em;
  border-radius: .3em;
  transform: rotate(7deg);
}

#start:focus {
  outline: 0;
}

#start:hover {
  background-color: rgb(255,134,39);
}

#start:active {
  background-color: rgb(50,50,50);
}

article {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 3em 1%;
  font-size: 1.5em;
  width: 70%;
  margin: auto;
}

dl {
  text-align: justify;
}

dt {
  font-size: 1.2em;
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

#instructionsText {
  display: none;
}

#optionsText {
  text-align: center;
  display: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1em;
}

@media (max-width: 800px), handheld {

  header h1 {
    font-size: 5em;
  }

  header h2 {
    font-size: 1.5em;
  }

  th {
    font-size: 1.3em;
  }

  #options-bar nav ul li {
    font-size: 1.5em;
  }

  #game-board {
    height: 15em;
  }

  #fox {
    width: 15%;
  }

  #grass {
    height: 2em;
  }

  .bush {
    width: 10%;
    height: 6em;
  }

  #shoe {
    bottom: 7em;
  }

  #moon {
    width: 4em;
    height: 4em;
  }

  #message {
    top: 3.5em;
    font-size: 1em;
    padding: .2em;
  }

  #gameEnd {
    font-size: 2em;
    padding: .2em;
  }

  article {
    font-size: 1.2em;
  }

}
